<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OMNI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OMNI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
    <add name="OMNI.Properties.Settings.SqlConnectionString" connectionString="Server=WAXDB001;User ID=OMNI_SA_SQL;Password=GwdnYaWC}@y'7+Ks?)XNf*;Connection Timeout=5;MultipleActiveResultSets=True" />
  </connectionStrings>
  <runtime>
    <loadFromRemoteSources enabled="true"/>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <applicationSettings>
    <OMNI.Properties.Settings>
      <setting name="DefaultPrintExtension" serializeAs="String">
        <value>.pdf</value>
      </setting>
      <setting name="QIRPhotoDirectory" serializeAs="String">
        <value>\\waxfs001\WAXG-OMNI\Application Data\QIR Photos\</value>
      </setting>
      <setting name="PrintLocation" serializeAs="String">
        <value>\\waxfs001\WAXG-Wahpeton\Prints\</value>
      </setting>
      <setting name="ManageHostName" serializeAs="String">
        <value>WAXAS001</value>
      </setting>
      <setting name="WCCOManageAccount" serializeAs="String">
        <value>D:/roi/CONTI.MAIN</value>
      </setting>
      <setting name="WCCODocumentLocation" serializeAs="String">
        <value>\\waxfs001\WAXG-Wahpeton\Document Center\Production\</value>
      </setting>
      <setting name="SmtpDefaultClient" serializeAs="String">
        <value>smtp.office365.com</value>
      </setting>
      <setting name="omnitemp" serializeAs="String">
        <value>\\waxfs001\WAXG-OMNI\Application Data\temp\</value>
      </setting>
      <setting name="CSISupplierNumber" serializeAs="String">
        <value>1015</value>
      </setting>
      <setting name="QIRDocument" serializeAs="String">
        <value>\\waxfs001\WAXG-Wahpeton\PublishedDocuments\FORM5008 - Quality Incident Report.pdf</value>
      </setting>
      <setting name="EmailDomain" serializeAs="String">
        <value>contiwan.com</value>
      </setting>
      <setting name="EmailPassword" serializeAs="String">
        <value>Vbty6^743[\&lt;tyF4</value>
      </setting>
      <setting name="omniAppLocation" serializeAs="String">
        <value>\\waxfs001\WAXG-OMNI\OMNI App\OMNI.application</value>
      </setting>
      <setting name="CMMSDocumentLocation" serializeAs="String">
        <value>\\waxfs001\WAXG-OMNI\Application Data\CMMS Documents\</value>
      </setting>
      <setting name="CMMSWorkOrderDocument" serializeAs="String">
        <value>\\waxfs001\WAXG-Wahpeton\PublishedDocuments\FORM5006E - Maintenance Request.pdf</value>
      </setting>
      <setting name="QIRArchivePhotoDirectory" serializeAs="String">
        <value>\\waxfs001\WAXG-Wahpeton\QIR\Photos</value>
      </setting>
      <setting name="QIRArchiveDocumentDirectory" serializeAs="String">
        <value>\\waxfs001\WAXG-Wahpeton\QIR\Archived QIRs</value>
      </setting>
      <setting name="UsersPhotoDirectory" serializeAs="String">
        <value>\\waxfs001\WAXG-Wahpeton\Photos\Employees</value>
      </setting>
    </OMNI.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.SqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlClient"/>
      <add name="MySQL Data Provider" invariant="System.Data.SqlClient" description=".Net Framework Data Provider for MySQL" type="System.Data.SqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
  <userSettings>
    <OMNI.Properties.Settings>
      <setting name="CSIManageAccount" serializeAs="String">
        <value>D:/roi/CONTI.MAIN</value>
      </setting>
    </OMNI.Properties.Settings>
  </userSettings>
</configuration>
